<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield(:head) %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/facebook' %>
</head>
<body>
  <div id="body">     
    <div class="container">      
      <div class="row" id="body-content">      
	<%= yield %>
      </div>              
    </div>    
  </div>   
  <%= content_tag(:div, debug(params), class: 'span9 offset3') if Rails.env.development? %>  
  <!-- Pinterest script -->
  <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
</body>
</html>

